
.blog-header{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
   
    .blog-wrapper{
        width: 1000px;
        margin: 0 auto;
        .ant-row{
            .ant-col{
                .title{
                    width: 350px;
                    font-size: 24px;
                    color:#3493ef;
                    line-height: 1.5;
                }
                .combined-bar {
                    width: 340px;
                    height: 1px;
                    background: rgba(255, 255, 255, 0.7);
                    position: absolute;
                    top: 45px;
                }
                .content{
                    font-size: 16px;
                    color:#fff;
                }
            }
        }
    }
}
.blog-header-nav{
    margin-bottom: 15px;
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    .blog-header-nav-wrapper{
        width: 1000px;
        margin: 0 auto;
        cursor: pointer;
        .blog-header-nav-list{
            overflow: hidden;
            display: flex;
            justify-content: space-between; 
           
            margin-bottom: 0;
            height: 45px;
            a{
                color: white;
                display: inline-block;
                padding:5px 10px;
                box-sizing: border-box;
                line-height: 2.5;
                transition: all .25s;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.65);
                }
                &:hover li{
                    color: #3493ef;
                }
            }
            
        }
    }
}
.blog-content-warpper{
    width: 1000px;
    margin:0 auto;
    overflow: hidden;
    box-sizing: border-box;
    .blog-slider{
        .blog-silider-notice{
            margin-bottom: 1.5rem;
        }
        .blog-silider-label{}
    }
}
.wx{
    width: 100px;
    height: 100px;
    background:url('../../assets/images/weixincode.png') no-repeat;
    background-size: cover;
    background-position: 20% 0;
}
.fot-char{
    text-align: center;
}