.frist-img{
    // background: url('https://s2.best-wallpaper.net/wallpaper/1920x1200/1111/Vincent-van-Gogh-Starry-Night_1920x1200.jpg') no-repeat;
   
}
.carousel-warpper{
    height: 99.8vh;
    
}
.resume-comebackindex{
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:url('../assets/images/touxiang.jpeg') no-repeat;
    background-size: 100% 100%;
    z-index: 99;
    cursor: pointer;
    animation: rot 5s infinite linear;
}
.carousel-warpper-0{
    background:#85ADA3;
}
.carousel-warpper-1{
    background:#4b5b8a;
}
.carousel-warpper-2{
    background:#9d946d;
}
.carousel-warpper-3{
    background:#67C23A;
}
.banner-user-elem{
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    .bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
}
.banner-anim-elem{
    height: 100%;
}
.middle{
    text-align: center;
    color: white;
    position: relative;
    .resume-page{
        display: inline-block;
        
        margin-top:150px;
    }
    .one{
        width: 500px;
        height: 350px;
        h1{
            font-size: 24px;

            color: white;
        }
        .char{
            font-size: 18px;
            ul{
                overflow: hidden;
                width: 320px;
                margin: 15px auto;
                li{
                    float: left;
                    width: 80px;
                    text-align: center;
                }
            }
        }
        .line{
            width:100%;
            height: 4px;
            margin: 0 auto;
            background:white;
        }
    }
    .two{
        width: 500px;
       
    }
}

@keyframes rot {     
    0% {     
      -webkit-transform: rotate(0deg);     
      transform: rotate(0deg);     
    }     
    100% {     
      -webkit-transform: rotate(360deg);     
      transform: rotate(360deg);     
    }     
}  

@keyframes zhongxinrot {     
    0% {     
      -webkit-transform: rotate(0deg);     
      transform: rotate(0deg);     
    }     
    100% {     
      -webkit-transform: rotate(-180deg);     
      transform: rotate(-360deg);     
    }     
}  
@keyframes childrot {     
    0% {     
      -webkit-transform: rotate(0deg);     
      transform: rotate(0deg);     
    }     
    100% {     
      -webkit-transform: rotate(-360deg);     
      transform: rotate(-360deg);     
    }     
}


.banner-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.animation-box{
    width: 400px;
    height: 400px;
    position: relative;
    margin: 60px auto 0;
    .frist-round{
        width: 125px;
        height: 125px;
        border:solid 3px #409EFF;
        margin: 0 auto;
        border-radius: 50%;
        position: absolute;
        left: 35%;
        top:55px;
        animation: rot 10s infinite linear;
    }
    .round-item{
        width: 40px;
        height: 40px;
        padding: 5px;
        font-size: 12px;
        box-sizing: border-box;
        background: pink;
        border-radius: 50%;
        line-height: 2.2;
        text-align: center;
        cursor: pointer;
        position: absolute;
        font-weight: 600;
    }
    .zhongxin{
        left: 32%;
        top:32%;
        animation: zhongxinrot 10s infinite linear;
    }
    .round-JS{
        left: 82%;
        top:32%;
        animation: childrot 10s infinite linear;
        
    }
    .round-CSS{
        left: -15%;
        top:32%;
        animation: childrot 10s infinite linear;
    }
    .second-round{
        width: 250px;
        height:250px;
        border:dashed 3px #409EFF;
        margin: 0 auto;
        border-radius: 50%;
        position: absolute;
        left: 20%;
        animation: childrot 15s infinite linear;
    }
    .round2-item{
        width: 55px;
        height: 55px;
        padding: 5px;
        font-size: 12px;
        box-sizing: border-box;
        background: pink;
        border-radius: 50%;
        line-height: 3.8;
        text-align: center;
        cursor: pointer;
        position: absolute;
        font-weight: 600;
    }
    .round-Ts{
        left: -9%;
        top:38%;
        animation: rot 15s infinite linear;
    }
    .round-Node{
        left: 91%;
        top:42%;
        animation: rot 15s infinite linear;
    }
    .round-Vue{
        left: 80%;
        top:6%;
        animation: rot 15s infinite linear;
    }
    .round-React{
        left:75%;
        top:82%;
       animation: rot 15s infinite linear;
    }
    .round-Flutter{
        left: 2%;
        top:5%;
     animation: rot 15s infinite linear;
    }
    .round-LESS{
        left: 6%;
        top:79%;
    animation: rot 15s infinite linear;
    }
    .round-Express{
        left: 37%;
        top:-13%;
    animation: rot 15s infinite linear;
    }
    .round-Webpack{
        left: 43%;
        top:92%;
   animation: rot 15s infinite linear;
    }
}
.cards{
    margin: 3% 0;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.item{
    width: 450px;
    height: 300px;
    background: white;
    color: black;
    text-align: left;
    padding: 15px;
    text-indent: 15px;
    border-radius: 15px;
    transition: all .45s;
    margin: 0 10px;
    .card-title{
        font-size: 22px;
       
        
        color: #4b5b8a;
        font-weight: 600;
    }
    .card-time{
        
        font-size: 15px;
        margin: 8px 0;
    }
    .card-post{
        font-size: 15px;
        margin: 8px 0;
        color: #4b5b8a;
    }
    .card-content{
        width:90%;
        margin: 0 auto;
        li{
            list-style-type: decimal;
            
        }
    }
}

.three{
    
    h1{
        font-size: 24px;
        color: white;
    }
}
.four-cards{
    width: 450px;
    
    background: white;
    color: black;
    text-align: left;
    padding: 15px;
   
    border-radius: 15px;
    transition: all .45s;
    margin: 0 10px;
    h4{
        a{
            display: block;
            text-indent: 20px;
           
        }
    }
}